@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Lora&family=Tinos&display=swap');
:root {
  --universal-border-radius: 3px;
  --footer-back-color: #424242;
  --card-back-color: white;
  --card-title-back-color: #2196F3;
  --back-color: #757575;

  --ff-title: 'Habibi', serif;
  --ff-header: 'Tinos', serif;
  --ff-base: 'Lora', serif;

  --phi: 1.618033988749894%;
  --phi-inverse: .618033988749894%;
}

header { height: min(20%, 2rem)}
h1 {
  text-align: center;
  font-family: var(--ff-title);
  font-size: 1.4rem;
  font-weight: 400;
  /* overflow-wrap: break-word; */
}


body { font-family: var(--ff-base); }
.card {
  align-self: unset;
  width: min(90%, 20rem);
}

h2,
h3,
h4,
h6 {
  font-family: var(--ff-header);
  line-height: 1rem;
}

h2 { font-size: 1.3rem }
h3 { font-size: 1.2rem }
h4 { font-size: 1.1rem; font-style: italic; }

#directory .row { justify-content: center }

.card-title { background-color: var(--card-title-back-color) !important; }
.card-footer { }
.card-body { flex: 1; }

.icon-location + span { margin-left: 1rem; display: inline; }

/* Stylings for site search */
.search {
  position: relative;
  display: flex;
  width: min(100%, 50rem);
  margin: 0 auto;
}

.search input[type="search"] {
  margin: 0 auto;
  border-radius: var(--universal-border-radius);
  border: 1px solid var(--back-color);
  outline: 0;
  /* height: 2rem; */
  width: 100%;
  padding: 2px 23px 2px 30px;
  background-color: white;
}

#icon-search {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 15px;
}

#icon-clear {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 15px;
  cursor: pointer;
  visibility: hidden;
}

.search input[type="search"]:hover,  .search input[type="search"]:focus {
  border: 1.5px solid var(--back-color);
  background-color: white;
}
