/* Stylings for site search */
.search {
  position: relative;
  display: flex;
  width: min(100%, 50rem);
  margin: 0 auto;
}

.search input[type="search"] {
  margin: 0 auto;
  border-radius: var(--universal-border-radius);
  border: 1px solid var(--back-color);
  outline: 0;
  width: 100%;
  padding: 2px 23px 2px 30px;
  background-color: white;
}

#icon-search {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 15px;
}

#icon-clear {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 15px;
  cursor: pointer;
  visibility: hidden;
}

.search input[type="search"]:hover,  .search input[type="search"]:focus {
  border: 1.5px solid var(--back-color);
  background-color: white;
}
